/* Try different box model properties below */
.site-header > p {
  color: rgb(255, 255, 255);
  margin-bottom: 1px;
}

.site-footer > p {
  font-size: 12px;
  text-align: center;
}

.message--unread {
  box-shadow: 4px 4px 0 #dba944;
}
