/* Add your CSS code below */
a {
  color: rgb(255, 0, 0);
  font-weight: bold;
  text-decoration: none;
}

.message__time {
  font-size: 0.9rem;
}

.message--unread {
  border-left: 5px solid rgb(0, 0, 255);
}

.message--old {
  opacity: 0.6;
}

.message {
  line-height: 2.5;
}
